.elementor-widget-button .elementor-button-icon {
  display: inline-flex;
}
.elementor-counter .elementor-counter-number-wrapper {
  flex: unset;
}
.elementor-widget-icon .elementor-icon-wrapper {
  line-height: 0;
}
.elementor-widget-text-editor .elementor-widget-container,
.elementor-widget-text-editor.elementor-element-edit-mode .elementor-text-editor {
  > * {
    margin-top: 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.elementor-form {
  input,
  select,
  textarea {
    margin: 0;
  }
}

.elementor-select-wrapper.remove-before:before,
.elementor-select-wrapper.remove-before .select-caret-down-wrapper {
  display: none !important;
}

.elementor-lightbox .elementor-slideshow__header {
  width: calc(100vw - 90px);
}

.__max-2-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.socials-offical-color {
  &.facebook {
    background: #3b5999;
  }
  &.messenger {
    background: #0084ff;
  }
  &.twitter {
    background: #000000;
  }
  &.linkedin {
    background: #0077b5;
  }
  &.skype {
    background: #00aff0;
  }
  &.dropbox {
    background: #007ee5;
  }
  &.wordpress {
    background: #21759b;
  }
  &.vimeo {
    background: #1ab7ea;
  }
  &.tumblr {
    background: #34465d;
  }
  &.google {
    background: #dd4b39;
  }
  &.pinterest {
    background: #bd081c;
  }
  &.youtube {
    background: #cd201f;
  }
  &.whatsapp {
    background: #25d366;
  }
  &.wechat {
    background: #09b83e;
  }
  &.slack {
    background: #3aaf85;
  }
  &.instagram {
    background: #e4405f;
  }
  &.dribbble {
    background: #ea4c89;
  }
  &.flickr {
    background: #ff0084;
  }
  &.behance {
    background: #131418;
  }
  &.mail {
    background: #e8e60b;
  }
}

.socials-animation-delay {
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
  &:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  &:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  &:nth-of-type(5) {
    animation-delay: 0.55s;
  }
  &:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  &:nth-of-type(7) {
    animation-delay: 0.65s;
  }
  &:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  &:nth-of-type(9) {
    animation-delay: 0.75s;
  }
  &:nth-of-type(10) {
    animation-delay: 0.8s;
  }
}

// GSAP Animation Styles

// Title Animation (.bt-gsap-animation-title)
.bt-gsap-animation-title {
  overflow: visible !important;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .elementor-heading-title {
    margin: 0;
    line-height: 1.2;
    .bt-gsap-title-line {
      display: block;
      overflow: hidden;
      position: relative;
      will-change: transform, opacity;
    }

    .bt-gsap-title-word {
      display: inline-block;
      white-space: nowrap;
      will-change: transform, opacity;
      position: relative;
      transform-origin: center bottom;
      vertical-align: baseline;
    }
  }

  .bt-gsap-title-line {
    display: block;
    overflow: hidden;
    position: relative;
    will-change: transform, opacity;
  }

  .bt-gsap-title-word {
    display: inline-block;
    white-space: nowrap;
    will-change: transform, opacity;
    position: relative;
    transform-origin: center bottom;
    vertical-align: baseline;
  }
}

// Title Long Animation (.bt-gsap-animation-title-long) - Word-by-word lighting effect
.bt-gsap-animation-title-long {
  overflow: visible !important;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .elementor-heading-title {
    margin: 0;
    line-height: 1.2;
    overflow: visible !important;

    .bt-gsap-title-long-word {
      display: inline-block;
      white-space: nowrap;
      will-change: color;
      position: relative;
      vertical-align: baseline;
    }
  }

  .bt-gsap-title-long-word {
    display: inline-block;
    white-space: nowrap;
    will-change: color;
    position: relative;
    vertical-align: baseline;
  }
}
// Box Animation (.bt-gsap-animation-box) - Stagger column animation
.bt-gsap-animation-box {
  .elementor-column {
    @media (min-width: 769px) {
      opacity: 0;
      will-change: transform, opacity;
    }
  }
}

// Reset animations in Elementor editor
.elementor-editor-active,
.elementor-editor-preview {
  .bt-gsap-animation-box {
    .elementor-column {
      opacity: 1 !important;
      transform: none !important;
    }
  }

  .bt-gsap-animation-text {
    p {
      opacity: 1 !important;
      transform: none !important;
    }
  }

  .bt-gsap-animation-title,
  .bt-gsap-animation-title-long {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .elementor-heading-title {
      opacity: 1 !important;
      transform: none !important;
    }

    .bt-gsap-title-word,
    .bt-gsap-title-long-word {
      opacity: 1 !important;
      transform: none !important;
    }
  }
}
