// Home Charity
.elementor-section.elementor-element {
    &.bt-section-hero-top {
        .elementor-element.elementor-widget-heading {
            position: relative;

            .bt-arrow-custom {
                position: relative;
                display: inline-block;
                left: -131px;
                margin-bottom: -216px;
                z-index: 1;
                width: 255px;
                height: 250px;
                background: url("../images/icon-arrow-custom.svg") no-repeat center center;
                background-size: contain;
                background-color: transparent;

                @media (max-width: 767px) {
                    left: -47px;
                    margin-bottom: -83px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .elementor-headline-text-wrapper {
            overflow: visible;
        }
        .elementor-headline-dynamic-text.elementor-headline-text-active {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: -126px;
                bottom: -198px;
                display: inline-block;
                z-index: 1;
                width: 255px;
                height: 250px;
                background: url("../images/icon-arrow-custom.svg") no-repeat center center;
                background-size: contain;
                background-color: transparent;
                @media (max-width: $break-tl) {
                    right: -101px;
                    bottom: -156px;
                    width: 200px;
                    height: 200px;
                }
                @media (max-width: 767px) {
                    right: -52px;
                    bottom: -80px;
                    width: 100px;
                    height: 100px;
                }
            }
        }

        @media (max-width: 1550px) and (min-width: 1025px) {
            padding: 100px 15px 75px 15px;

            .elementor-element.elementor-widget-heading {
                .elementor-heading-title {
                    font-size: 120px;

                    @media (max-width: 1290px) {
                        font-size: 90px;
                        max-width: 900px;
                    }
                }
            }
            .elementor-element.elementor-widget-animated-headline {
                .elementor-headline {
                    font-size: 120px;

                    @media (max-width: 1290px) {
                        font-size: 90px;
                        max-width: 900px;
                    }
                }
            }
        }
    }

    &.bt-section-hero-bottom {
        @media (max-width: 1550px) and (min-width: 1025px) {
            > .elementor-container > .elementor-column {
                .elementor-widget-text-editor {
                    font-size: 30px;
                }

                .elementor-button {
                    padding: 18px 40px;
                }

                @media (max-width: 1290px) {
                    &:first-child {
                        display: none;
                    }

                    &:nth-child(2) {
                        width: 60%;

                        > .elementor-widget-wrap {
                            padding: 60px 15px;

                            .elementor-inner-section {
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-icon-box {
        .elementor-widget-lottie{
            > .elementor-widget-container{
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @media (max-width: 1200px) and (min-width: 1025px) {
            padding: 90px 15px 100px 15px;
            .elementor-widget-be-icon-box {
                .elementor-icon-box__icon {
                    width: 170px;
                    height: 170px;
                }
            }
            .elementor-widget-lottie{
                --lottie-container-width: 125px;
                > .elementor-widget-container{
                    width: 170px;
                    height: 170px;
                }
            }
        }
        @media (max-width: 1024px) {
            .elementor-widget-be-icon-box {
                .elementor-icon-box__icon {
                    width: 120px;
                    height: 120px;
                    border-width: 3px;
                    svg {
                        width: 70px;
                    }
                }
            }
            .elementor-widget-lottie{
                --lottie-container-width: 88px;
                > .elementor-widget-container{
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
    &.bt-section-who-we-are {
        @media (max-width: 1200px) and (min-width: 1025px) {
            .elementor-widget-heading.bt-heading {
                .elementor-heading-title {
                    font-size: 88px;
                }
            }
        }
    }
    &.bt-section-video {
        .elementor-video-box {
            overflow: initial;

            &:before {
                content: "";
                position: absolute;
                background: #37377d;
                right: -25px;
                bottom: -25px;
                width: 100%;
                height: 97%;
                border-radius: 10px;
                @media (max-width: 1024px) {
                    right: -10px;
                    bottom: -10px;
                    border-radius: 6px;
                }
            }

            img {
                position: relative;
                border-radius: 10px;
                @media (max-width: 1024px) {
                    border-radius: 6px;
                }
            }
            .elementor-video-box__icon {
                @media (max-width: 1024px) {
                    width: 120px;
                    height: 120px;
                    svg {
                        width: 60px;
                    }
                }
                @media (max-width: 767px) {
                    width: 100px;
                    height: 100px;
                    svg {
                        width: 50px;
                    }
                }
            }
        }

        .elementor-video-box__overlay {
            border-radius: 10px;
            @media (max-width: 1024px) {
                border-radius: 6px;
            }
        }
    }
    &.bt-section-change-a-life {
        @media (max-width: 1200px) and (min-width: 1025px) {
            padding: 100px 15px 100px 15px;
            .elementor-widget-heading.bt-heading {
                .elementor-heading-title {
                    font-size: 88px;
                }
            }
            .bt-inner-box-text {
                > .elementor-container {
                    > .elementor-column {
                        > .elementor-widget-wrap {
                            padding: 50px 30px 40px 30px;
                            .elementor-widget-text-editor {
                                font-size: 25px;
                                .elementor-widget-container {
                                    margin: 20px 0px 40px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bt-inner-box-text {
            > .elementor-container {
                gap: 30px;
                @media (max-width: 1024px) {
                    gap: 20px;
                }
                @media (max-width: 767px) {
                    gap: 15px;
                }
            }
            > .elementor-container > .elementor-inner-column {
                width: calc(50% - 15px);
                @media (max-width: 1024px) {
                    width: calc(50% - 10px);
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
    &.bt-section-col-full {
        > .elementor-container {
            margin: 0;
            flex-direction: column;
            gap: 15px;
            > .elementor-column {
                width: 100%;
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    > .elementor-widget-wrap {
                        padding: 40px 80px 33px 20px;
                        .elementor-icon-box-icon {
                            .elementor-icon {
                                font-size: 50px;
                            }
                        }
                        .elementor-icon-box-title {
                            font-size: 30px;
                        }
                        .elementor-widget-text-editor {
                            font-size: 18px;
                        }
                        .elementor-widget-icon {
                            right: 30px;
                            bottom: 15px;
                            .elementor-icon {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-box-image {
        > .elementor-container {
            > .elementor-column {
                .elementor-image-box-wrapper {
                    @media (max-width: 1440px) and (min-width: 1025px) {
                        .elementor-image-box-img {
                            width: 250px;
                        }
                        .elementor-image-box-title {
                            font-size: 28px;
                        }
                    }
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        .elementor-image-box-img {
                            width: 200px;
                            margin-bottom: 15px;
                        }
                        .elementor-image-box-title {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-accountability {
        @media (max-width: 1200px) and (min-width: 1025px) {
            .elementor-widget-heading.bt-heading {
                .elementor-heading-title {
                    font-size: 84px;
                }
            }
        }
    }
    &.bt-section-newsletter {
        @media (max-width: 1200px) and (min-width: 1025px) {
            .elementor-widget-heading.bt-heading {
                .elementor-heading-title {
                    font-size: 84px;
                }
            }
            .elementor-widget-text-editor {
                max-width: 700px;
                font-size: 22px;
            }
            .elementor-widget-form {
                max-width: 800px;
            }
        }
        .bt-form-newsletter-together {
            > .elementor-widget-container {
                .elementor-form-fields-wrapper {
                    position: relative;
                    input {
                        padding: 0 220px 8px 0;
                        &::placeholder {
                            opacity: 1 !important;
                        }
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                        @media (max-width: $break-tl) {
                            padding: 0 140px 8px 0;
                        }
                        @media (max-width: $break-sm) {
                            padding: 0 95px 8px 0;
                        }
                    }
                    .e-form__buttons {
                        position: absolute;
                        display: inline-flex;
                        width: auto;
                        right: 0;
                        margin: 0;
                        @media (max-width: $break-sm) {
                            bottom: 17px;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        right: -8%;
                        top: -185%;
                        margin-bottom: 0;
                        z-index: 1;
                        width: 135px;
                        height: 135px;
                        background: url("../images/icon-arrow-custom.svg") no-repeat center center;
                        background-size: contain;
                        background-color: transparent;
                        transform: rotate(339deg);
                        @media (max-width: $break-tl) {
                            top: -233%;
                        }
                        @media (max-width: $break-sm) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-footer-together {
        > .elementor-container {
            > .elementor-column {
                @media (max-width: 1300px) and (min-width: $break-tl) {
                    &:nth-child(1) {
                        width: 38%;
                    }
                    &:nth-child(2) {
                        width: 22%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                    }
                    &:nth-child(4) {
                        width: 20%;
                    }
                }
            }
        }
    }
}

// Be Together Widget
.elementor-widget-be-together {
    .be-together-wrapper {
        position: relative;
        width: 100%;

        .be-together-top {
            position: relative;
            width: 100%;
            z-index: 2;
            padding: 120px 15px 90px 15px;
        }
        .be-together-heading {
            margin: 0;
            padding: 0;
            max-width: 1600px;
            margin: 0 auto;
            text-align: left;
            font-family: "Inter", Sans-serif;
            font-size: 140px;
            font-weight: 700;
            line-height: 1.3;
            color: #252525;
            .be-together-heading-text {
                display: inline-block;
            }

            .be-together-heading-highlight {
                display: inline-block;
                color: #5c88c6;

                .be-together-char {
                    display: inline-block;
                    white-space: pre;
                }
            }
            svg {
                position: relative;
                display: inline-block;
                left: -167px;
                margin-bottom: -251px;
                height: 290px;
                width: 290px;
            }

            .be-together-arrow-path {
                opacity: 0;
            }
        }
        .be-together-bottom {
            position: relative;
            width: 100%;
            z-index: 1;
            background: #5c88c6;
        }

        .be-together-content {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            position: relative;
            flex-direction: row;
        }

        .be-together-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
            justify-content: flex-end;
        }

        .be-together-right {
            position: relative;
            width: 40%;
        }

        .be-together-text-content {
            display: flex;
            flex-direction: column;
            max-width: 689px;
            justify-content: center;
            padding: 30px 0;
        }
        .be-together-description {
            font-family: "Inter", Sans-serif;
            font-size: 42px;
            font-weight: 500;
            line-height: 1.5em;
            color: #ffffff;
            margin: 0;
        }

        .be-together-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            align-items: center;
            margin-top: 60px;
        }

        .be-together-button-1,
        .be-together-button-2 {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            border: none;
            white-space: nowrap;
            font-family: "Inter", Sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            color: #252525;
            padding: 18px;
            border: 2px solid transparent;
            border-radius: 30px;
            @media (min-width: 767px) {
                &:hover {
                    opacity: 0.9;
                    transform: translateY(-2px);
                }
            }
        }

        .be-together-button-1 {
            min-width: 260px;
        }

        .be-together-button-2 {
            min-width: 260px;
            border: 2px solid currentColor;
        }

        .be-together-image-left,
        .be-together-image-right {
            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }

        .be-together-image-left {
            position: relative;
            img {
                max-width: 365px;
            }
        }

        .be-together-image-right {
            position: relative;
            z-index: 1;
            margin: -36% 0% 0% 0%;
            &::before {
                content: "";
                position: absolute;
                background: #ffd757;
                right: 0;
                width: 50%;
                height: 87%;
                bottom: 0;
            }
            img {
                position: relative;
            }
        }

        // Animation classes
        .be-together-heading-highlight,
        .be-together-description {
            transition:
                opacity 0.5s ease,
                transform 0.5s ease;
        }

        // Responsive
        @media (max-width: 1460px) {
            .be-together-heading {
                font-size: 120px;

                svg {
                    height: 250px;
                    width: 250px;
                    left: -140px;
                    margin-bottom: -220px;
                }
            }

            .be-together-description {
                font-size: 30px;
            }

            .be-together-text-content {
                max-width: 550px;
            }
            .be-together-buttons {
                margin-top: 40px;
            }
            .be-together-button-1,
            .be-together-button-2 {
                min-width: 220px;
            }
        }
        @media (max-width: 1320px) and (min-width: 1201px) {
            .be-together-heading {
                font-size: 100px;
            }
            .be-together-description {
                font-size: 28px;
            }
            .be-together-text-content {
                max-width: 500px;
            }
        }
        @media (max-width: 1200px) {
            .be-together-top {
                padding: 100px 15px 70px 15px;
            }

            .be-together-heading {
                font-size: 100px;
                svg {
                    height: 220px;
                    width: 220px;
                    left: -120px;
                    margin-bottom: -190px;
                }
            }

            .be-together-description {
                font-size: 32px;
            }

            .be-together-content {
                gap: 25px;
            }

            .be-together-left {
                display: none;
            }

            .be-together-text-content {
                max-width: 100%;
                padding: 25px 0 25px 15px;
                flex: 1;
            }

            .be-together-buttons {
                margin-top: 30px;
            }
            .be-together-button-1,
            .be-together-button-2 {
                font-size: 14px;
            }

            .be-together-image-right {
                margin: -30% 0% 0% 0%;
            }
        }

        @media (max-width: 1100px) {
            .be-together-top {
                padding: 80px 15px 60px 15px;
            }

            .be-together-heading {
                font-size: 80px;

                svg {
                    height: 180px;
                    width: 180px;
                    left: -100px;
                    margin-bottom: -160px;
                }
            }

            .be-together-description {
                font-size: 28px;
            }

            .be-together-content {
                gap: 20px;
            }
        }
        @media (max-width: 991px) {
            .be-together-top {
                padding: 60px 15px 40px 15px;
            }
            .be-together-heading {
                font-size: 68px;
                max-width: 700px;
                margin: 0;
                svg {
                    height: 160px;
                    width: 160px;
                    left: -90px;
                    margin-bottom: -140px;
                }
            }
            .be-together-description {
                font-size: 22px;
            }
            .be-together-button-1,
            .be-together-button-2 {
                min-width: 200px;
                padding: 14px;
            }
        }

        @media (max-width: 767px) {
            .be-together-top {
                padding: 60px 15px 40px 15px;
            }

            .be-together-heading {
                font-size: 55px;
                line-height: 1.2;
                svg {
                    height: 140px;
                    width: 140px;
                    left: -80px;
                    margin-bottom: -120px;
                }
            }

            .be-together-description {
                font-size: 18px;
                line-height: 1.4;
            }

            .be-together-content {
                gap: 25px;
            }

            .be-together-text-content {
                width: 100%;
                padding: 15px 0 15px 15px;
            }

            .be-together-buttons {
                width: 100%;
                margin-top: 25px;
                gap: 12px;
            }

            .be-together-button-1,
            .be-together-button-2 {
                min-width: 165px;
            }
        }

        @media (max-width: 650px) {
            .be-together-top {
                padding: 40px 15px 30px 15px;
            }

            .be-together-heading {
                font-size: 56px;
                line-height: 1.3;

                svg {
                    height: 100px;
                    width: 100px;
                    left: -60px;
                    margin-bottom: -85px;
                }
            }
            .be-together-content {
                gap: 15px;
                flex-direction: column;
            }
            .be-together-right {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .be-together-image-right {
                margin: 0;
                max-width: 450px;
                &::before {
                    width: 30%;
                    height: 80%;
                }
            }
            .be-together-description {
                font-size: 28px;
                line-height: 1.5;
            }

            .be-together-text-content {
                padding: 45px 15px 0 15px;
                gap: 15px;
            }

            .be-together-buttons {
                width: 100%;
                margin-top: 20px;
                gap: 10px;
            }

            .be-together-button-1,
            .be-together-button-2 {
                min-width: 180px;
            }
        }
        @media (max-width: 550px) {
            .be-together-heading {
                font-size: 36px;
                line-height: 1.4;
                svg {
                    height: 80px;
                    width: 80px;
                    left: -40px;
                    margin-bottom: -70px;
                }
            }
            .be-together-description {
                font-size: 18px;
                line-height: 1.5;
            }
            .be-together-text-content {
                padding: 30px 15px 0 15px;
            }
            .be-together-buttons {
                margin-top: 15px;
                gap: 10px;
            }
            .be-together-button-1,
            .be-together-button-2 {
                min-width: 165px;
                padding: 12px;
            }
        }
        @media (max-width: 370px) {
            .be-together-heading {
                font-size: 29px;
                line-height: 1.4;
                svg {
                    height: 70px;
                    width: 70px;
                    left: -30px;
                    margin-bottom: -60px;
                }
            }
            .be-together-description {
                font-size: 16px;
                line-height: 1.5;
            }
            .be-together-text-content {
                padding: 20px 15px 0 15px;
            }
            .be-together-buttons {
                margin-top: 10px;
                gap: 8px;
            }
            .be-together-button-1,
            .be-together-button-2 {
                min-width: auto;
                width: 100%;
            }
        }
    }
}
